@import "/src/variables";

.bubble {
  background-color: $color-purple;
  border-radius: 10px;
  padding: 25px;
  margin-top: 20px;

  &-user {
    border-top-left-radius: 0;
  }

  &-guest {
    border-top-right-radius: 0;
  }
}
