@import '/src/variables';

.chat {
  height: 100%;
  display: flex;
  align-items: center;

  &__container {
    border: 2px solid $color-purple;
    width: 500px;
    height: 70%;
    border-radius: 10px;
  }

  &__top {
    height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 16px;
    background-color: $color-dark-purple;
    border-bottom: 3px solid $color-dark-purple;
  }

  &__bottom {
    height: 10%;
    background-color: $color-purple;
    box-sizing: content-box;
  }

  &__form {
    width: 100%;
  }
}
