@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '/src/variables';

html,
body {
  height: 100%;
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: $color-dark-purple;
  max-width: max-content;
  margin: auto;
  color: $color-white;
}

button:disabled {
  opacity: 0.5;
}

.mat-mdc-snack-bar-container {
  &.snackbar {
    --mdc-snackbar-container-color: #5765FC;
    --mdc-snackbar-supporting-text-color: $color-white;
  }
}

