@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "/src/variables";

html,
body {
  height: 100%;
}

body {
  background-color: $color-dark-purple;
  max-width: max-content;
  margin: auto;
  color: $color-white;
  }

